<h1>MONGODB - EXERCISE</h1>
<section class="insert">
    
</section>
<section class="get">
        <div> <h1>Temperature: </h1>{{ this.temp }}</div>
</section>
<section class="update">
    
</section>
</section>
<section class="delete">
    
</section>
